@charset "utf-8";
/* CSS Document */
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
	padding:0;
}
body{
	font-family: "微软雅黑",Arial;
	background: white;
	width: 100%;
	font-size: 12px;
}
ul{
	list-style: none;
}
a,img{
	border: 0;
}
a{
	text-decoration: none;
}
/* =============header================ */
#header{
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	background: white;
}
#header .gl_header{
	width: 100%;
	height: 103px;
	border-bottom: 1px solid #E5E5E5;
	box-shadow: 0 1px 1px #ccc;
	position: relative;
	z-index: 99;
}
#header .gl_header .gl_conter{
	width: 1190px;
	margin: 0 auto;
}
#header .gl_header .gl_conter .gl_logo{
	display: block;
	width: 200px;
	height: 51px;
	margin-top: 25px;
	overflow: hidden;
	float: left;
	background: url(../img/spirite.png);
}
#header #gl_main{
	width: 850px;
	float: right;
}
#header #gl_main .gl_quickMenu{
	margin-top: 10px;
	margin-bottom: 23px;
	display: block;
	width: 750px;
	float: right;
	text-align: right;
	
}
#header #gl_main .gl_quickMenu .loginReg{
	margin-right: 5px;
}
#header #gl_main .gl_quickMenu .loginReg .login a{
	color: #FE6A00;
}
#header #gl_main .gl_quickMenu .loginReg a{
	color: #9F9F9F;
}
#header #gl_main .gl_quickMenu .loginReg a:hover{
	color: #FE6A00;
}
#header #gl_main .gl_quickMenu .cart{
	display: inline-block;
	position: relative;
	z-index: 9;
}
#header #gl_main .gl_quickMenu .cart .cart_hd{
	padding: 0 10px;
	border-left: 1px solid #FFFFFF ;
	border-right: 1px solid #FFFFFF ;
}
#header #gl_main .gl_quickMenu .cart .cart_hd a{
	padding-left: 18px;
	color: #9f9f9f;
}
#header #gl_main .gl_quickMenu .cart .cart_hd a em{
	font-style: normal;
	color: #EF4222;
}
#header #gl_main .gl_quickMenu .cart .cart_hd a b{
	width: 16px;
	height: 16px;
	position: absolute;
	left: 10px;
	top: 0;
	overflow: hidden;
	background: url(../img/spirite.png);
	background-position: -216px -4px;
}
#header #gl_main .gl_quickMenu .cart a:hover{
	color: #EF4222;
}
#header #gl_main .gl_quickMenu .cart a:hover b{
	background-position: -262px -4px;
}
#header #gl_main .gl_search{
	width: 165px;
	padding-left: 3px;
	height: 28px;
	line-height: 18px;
	position: relative;
	float: right;
	border: 1px solid #ddd;
}
#header #gl_main .gl_search input.txt{
	width: 138px;
	height: 28px;
	line-height: 28px;
	border: 0;
	outline: none;
}
#header #gl_main .gl_search .search_btn{
	position: absolute;
	width: 25px;
	height: 26px;
	background: url(../img/spirite.png);
	background-position: -236px -2px;
	border: 0;
	display: block;
	outline: none;
	float: right;
	top: 4px;
	right: 2px;
	cursor: pointer;
}
#header #gl_main .gl_mainnav{
	width: 680px;
	float: right;
	position: relative;
}
#header #gl_main .gl_mainnav .mNav_item{
	display: inline-block;
	font-size: 16px;
	line-height: 30px;
	width: auto;

}
#header #gl_main .gl_mainnav .mNav_item a{
	padding: 0 26px;
	height: 50px;
	position: relative;
	color: #999999;
}
#header #gl_main .gl_mainnav .mNav_item a:hover{
	color: #FE6A00;	
}
#JmNavMobile{
	padding-bottom: 22px;
}
#JmNavMobile .menu-box{
	width: 100%;
	height: 250px;
	margin: 0 auto;
	text-align: center;
	position: fixed;
	z-index: 89;
	top: 103px;
	left: 0;
	opacity: 0.95;
	background: white;
	border-top: 1px solid #d5d5d5;
	box-shadow: 0 -1px 1px #CCCCCC;
	
}
#JmNavMobile .menu-box .menu-li{
	width: 1200px;
	height: 200px;
	text-align: center;
	margin: 0 auto;
}
#JmNavMobile .menu-box .menu-li .menu-ul{
	width: 200px;
	height: 200px;
	float: left;
	text-align: center;
}
#JmNavMobile .menu-box .menu-li .menu-ul ul{
	text-align: left;
}
table{
	display: table;
	border-spacing: 2px;
	border-color: gray;
}
#JmNavMobile .menu-box .menu-li .menu-ul a{
	text-align: left;
	color: #999999;
	font-size: 15px;
	line-height: 30px;
	height: 70px;
}

/* =============footer================ */
#footer{
	padding-top: 60px;
	background: white;
}
/* top */
#foot_top{
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 40px;
	height: 47px;
}
#foot_top .wrapper{
	width: 1190px;
	margin: 0 auto;
}
#foot_top .wrapper li{
	float: left;
	width: 24.5%;
	height: 47px;
	display: list-item;
}
#foot_top .wrapper li i{
	width: 46px;
	height: 46px;
	background: url(../img/spirite.png);
	background-position: 0 -60px;
	margin-right: 10px;
	display: block;
	float: left;
}
#foot_top .wrapper li:nth-child(1) a i{
	background-position: 0 -60px;
}
#foot_top .wrapper li:nth-child(2) a i{
	background-position: -46px -60px;
}
#foot_top .wrapper li:nth-child(3) a i{
	background-position: -92px -60px;
}
#foot_top .wrapper li:nth-child(4) a i{
	background-position: -138px -60px;
}
#foot_top .wrapper li a{
	width: 140px;
	height: 47px;
	font-size: 16px;
	float: left;
	line-height: 20px;
	color: #777;
	display: block;
}
#foot_top .wrapper li  a em{
	font-style: normal;
}
#foot_top .wrapper li a:hover em{
	color: #ef4222;
}
/* con */
#foot_con{
	padding-top: 30px;
	padding-bottom: 30px;
	width: 1190px;
	margin: 0 auto;
	overflow: hidden;
}
#foot_con dl{
	width: 18%;
	float: left;
	line-height: 33px;
	color: #777;
	font-size: 16px;
}
#foot_con dl dd{
	font-size: 12px;
	line-height: 33px;
	position: relative;
}
#foot_con dl dd a{
	color: #777;
}
#foot_con dl dd a:hover{
	color: #EF4222;
}
#foot_con .foot_about dd{
	height: 33px;
	line-height: 33px;
}
#foot_con .foot_about dd a{
	display: inline-block;
	padding-left: 25px;
	position: absolute;
	color: #777777;
}
#foot_con .foot_about dd b{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 5px;
	left: 0px;
	overflow: hidden;
	background: url(../img/spirite.png);
}
#foot_con dl dd .sina b{
	background-position: -379px -68px;
}
#foot_con dl dd .tencent b{
	background-position: -406px -68px;
}
#foot_con dl dd .qzone b{
	background-position: -430px -68px;
}
/* #foot_con .foot_about dd b:hover{
	background: url(../img/spirite.png);
} */
#foot_con dl dd .sina b:hover{
	background-position: -378px -93px;
}
#foot_con dl dd .tencent b:hover{
	background-position: -403px -93px;
}
#foot_con dl dd .qzone b:hover{
	background-position: -430px -93px;
}
#foot_con .con_ico{
	width: 105px;
	float: right;
	text-align: center;
	line-height: 30px;
	color: #999;
}
#foot_con .con_ico i {
	width: 98px;
	height: 98px;
	display: block;
	border: 3px solid #CCCCCC;
	background: url(../img/spirite.png);
	background-position: -279px 0px;
	
}
#foot_con .con_ico span{
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #999;
}
/* bot */
#foot_bot{
	background: #333;
	padding: 20px 0;
	text-align: left;
	display: block;
}
#foot_bot .foot_warp{
	width: 1190px;
	margin: 0 auto;
	color: #999;
}
#foot_bot .foot_warp .map{
	margin-bottom: 8px;
	text-align: left;
	color: #999;
	height: 23px;
	line-height: 23px;
}
#foot_bot .foot_warp .map .map_first {
	margin-right: 10px;
	float: left;
	padding-left: 0px;
	position: relative;
}
#foot_bot .foot_warp .map .map_first a{
	color: #999999;
}
#foot_bot .foot_warp .map .map_second b{
	border-left: 1px solid #777777;
}
#foot_bot .foot_warp .map .map_second select{
	background: #333;
	color: #999999;
	border: 0;
	font-size: 12px;
	padding-left: 6px;
}
#foot_bot .foot_warp .foot_con{
	line-height: 45px;
	margin-bottom: 8px;
	text-align: left;
	position: relative;
}
#foot_bot .foot_warp .foot_con .foot_con_p1 a{
	margin-right: 8px;
	color: #999;
}
#foot_bot .foot_warp .foot_con .foot_con_p1 a:hover{
	color: #fff;
}
.foot_con .foot_con_p .foot_con_span{
	
}
.foot_con .foot_con_p .foot_con_span{
	white-space: nowrap;
}
.foot_con .foot_con_p2{
	line-height: 23px;
	margin-bottom: 8px;
}


















